# Python
__pycache__/

# Virtual Environments
.venv/

# IDE - VS Code
.vscode/

# IDE - PyCharm / IntelliJ
.idea/

# IDE - Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Project-specific: Upload directories
app/uploads/
app/secrets.toml

# Project-specific: Secrets and environment files
backend/.env
app/.streamlit/secrets.toml
.env
*.env

# Project-specific: Modal
.modal_cache/
.modal/

# Trial Folders
trial

.devcontainer/
dataset